body {
    font-family: 'Assistant', sans-serif;
    margin: 0;
    background-color: whitesmoke;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Assistant', sans-serif;
}

h1,
h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}


p {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

/*Navigation*/

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 2vw;
}

.nav li {
    display: inline;
}

.nav a {
    display: none;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Assistant', sans-serif;
    font-size: 14.5px;
}

.nav a:hover {
    border-bottom: 2px solid #628297;
}

.nav a.active {
    border-bottom: 2px solid #628297;
    background-color: whitesmoke;
}

.logo .nav a:hover {
    border-bottom: none;
}

.logo-container img {
    width: 100%;
    max-width: 13vw;
    margin-top: 2vw;
    float: right;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon-container {
    margin-right: 5vw;
}

.icon {
    float: right;
    display: block;
    font-size: 20px;
    color: black;
}

.nav.responsive {
    position: relative;
}

.nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.nav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

/* NEWSLETTER */

.open-button {
  background-color: #dfdfdf;
  color: black;
  padding: 6px 2px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 13px;
  right: 28px;
  width:90px;
    z-index: 1;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #dfdfdf;
    z-index: 2;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px 0px 15px 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #dfdfdf;
}
.form-container .knap {
  background-color: #628297;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: #628297;
}
.form-container .knap:hover, .open-button:hover {
  opacity: 1;
}




.kronik-container {
    display: grid;
    grid-template-areas: "billede billede" "txt txt";
    margin: 2vw;
}

.data-txt {
    grid-area: txt;
}


.blog-billede {
    grid-area: billede;
    max-width: 250px;
    margin: auto;
}


/*FOOTER*/

footer {
    background-color: #dfdfdf;
    margin-top: 5vw;
}



.foot-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.foot-txt {
    margin: auto;
    margin-top: 2vw;
    color: black;

}

.foot-txt a {
    text-decoration: none;
    color: black;
}

.foot-txt img {
    max-width: 18px;
    float: right;
    margin-right: 2vw;
}

.foot-txt p {
    font-family: 'Assistant', sans-serif;
}

.foot-txt H2 {
    font-size: 14px;
}

.foot-pic {
    text-align: center;
}

.foot-pic img {
    margin-bottom: -2vw;
}

.linje-footer1 {
    border-bottom: 0.5vw solid #628297;
    max-width: 9vw;
    margin-left: 2.4vw;
}

.linje-footer2 {
    border-bottom: 0.5vw solid #628297;
    max-width: 9vw;
    margin-left: 0.5vw;
}

.linje-footer3 {
    border-bottom: 0.5vw solid #628297;
    max-width: 9vw;
    margin-left: 5vw;
}


/* Media Q ipad  */

@media only screen and (min-width: 768px) {

    .kronik-container {
        display: grid;
        grid-template-areas: "billede txt";
    }


    .data-txt {
        margin-left: 5vw;
        margin-right: 5vw;
        line-height: 1.5;
    }


    .blog-billede {

        max-width: 250px;
        margin-left: 5vw;
    }


    .icon {
        display: none;
    }

    .nav a {
        display: inline-block;
    }

    .header-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo-container {
        margin: auto;
        padding-top: 1vw;
    }

    .logo-container img {
        max-width: 80px;
    }

        .open-button {
  padding: 10px 10px;
  width:150px;
}

        .foot-txt img {
        max-width: 23px;
        float: left;
    }
    .linje-footer1 {
        border-bottom: 0.2vw solid #628297;
        max-width: 5vw;
        margin-left: 1vw;
    }
    .linje-footer2 {
        border-bottom: 0.2vw solid #628297;
        max-width: 5vw;
        margin-left: 0vw;
    }

    .linje-footer3 {
        border-bottom: 0.2vw solid #628297;
        max-width: 5vw;
        margin-left: 2.5vw;
    }

    .linje-kontakt {
        border-bottom: 0.2vw solid #628297;
        max-width: 7vw;
        margin-left: 5.5vw;
    }

}

/* Media Q computer  */

@media only screen and (min-width: 1300px) {

    .data-txt {
        margin-left: 5vw;
        margin-right: 13vw;
        line-height: 1.5;
    }


    .blog-billede {

        max-width: 300px;
        margin-left: 13vw;
    }

    .nav {
        margin-bottom: 2vw;
    }

    .nav a {
        font-size: 16px;
        padding: 0vw 1.5vw;
    }
    .logo-container img {
        max-width: 90px;
    }


        .linje-footer1 {

        max-width: 3vw;
        margin-left: 0.4vw;
    }
    .linje-footer2 {

        max-width: 3vw;
        margin-left: -0.1vw;
    }

    .linje-footer3 {

        max-width: 3vw;
        margin-left: 1.4vw;
    }

}
