/* Generelt */

body {
    margin: 0;
    background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Helvetica, sans-serif;
}

p {
    font-size: 12px;
}


/* clothes */

.container {
    margin: 3vw;
}

.clothes-article {
    background-color: white;
    display: grid;
    grid-template-areas: "billede billede" "navn navn" "liner liner" "pris pris" "kob quickview";
    line-height: 0.0;
    margin-bottom: 7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.data-billede1 {
    grid-area: billede;
    width: 100%;
}

.data-billede2 {
    grid-area: billede;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.data-billede2:hover {
    opacity: 1;
}

.data-navn {
    grid-area: navn;
    margin-left: 3vw;
}

.data-liner {
    grid-area: liner;
    margin-left: 3vw;
}

.data-pris {
    grid-area: pris;
    margin-left: 3vw;
    margin-bottom: 8vw;
    color: skyblue;
}

.kob {
    grid-area: kob;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);


}

.kob:hover {
    background-color: skyblue;
    border: 1px solid white;
}

.quickview {
    grid-area: quickview;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.quickview:hover {
    background-color: skyblue;
    border: 1px solid white;
}

/*  MODAL*/

#modal {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    /*display: none;*/
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}

#modal.vis {
    /*display: block;*/
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

#modal-content {
    width: 87vw;
    height: 100vh;
    background-color: rgba(250, 250, 250, 1);
    margin: auto;
    overflow: scroll;
}

.modal-grid2 {
    display: grid;
    grid-template-areas: "navn pris" "farver siezes" "kob read";
}

.modal-kob {
    grid-area: kob;
    cursor: pointer;
    border: 1px solid skyblue;
    min-width: 25vw;
    margin: auto;
    margin-top: 2vw;
}

.modal-kob:hover {
    background-color: skyblue;
    border: 1px solid whitesmoke;
}
.modal-read {
    grid-area: read;
    cursor: pointer;
    border: 1px solid skyblue;
    min-width: 25vw;
    margin: auto;
    margin-top: 2vw;
}

.modal-read:hover {
    background-color: skyblue;
    border: 1px solid whitesmoke;
}

.modal-pris {
    grid-area: pris;
    margin-bottom: 8vw;
    color: skyblue;
}

.modal-navn {
    grid-area: navn;
}

.farver {
    grid-area: farver;
    margin-left: 3vw;
}

.siezes {
    grid-area: siezes;
    margin-left: 3vw;
    margin-right: 3vw;
}

select {
    border-style: none;
    background-color: skyblue;
    height: 35px;
    font-size: 13px;

}



.modal-billeder {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-billede1 {
    width: 100%;
    max-width: 200px;
}

.modal-billede2 {
    width: 100%;
    max-width: 200px;
}

.modal-billede3 {
    width: 100%;
    max-width: 200px;
}





/* Media Q ipad  */

@media only screen and (min-width: 768px) {
    body {
        background-color: lightpink;
    }


    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .clothes-article {
        margin: 2vw;
    }
    .modal-billeder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .modal-grid2 {
        margin-left: 8vw;
        margin-right: 8vw;
    }


    .modal-billede1 {
        width: 100%;
        max-width: 500px;

    }
    .modal-billede2 {
        width: 100%;
        max-width: 500px;
    }
    .modal-billede3 {
        width: 100%;
        max-width: 500px;

    }

}


/* Media Q computer  */

@media only screen and (min-width: 1300px) {
    body {
        background-color: lightblue;
    }
    p {
        font-size: 14px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 17vw;
        margin-right: 17vw;
    }

    .clothes-article {
        margin: 1.4vw;
    }

    .modal-grid2 {
        margin-left: 19vw;
        margin-right: 19vw;
    }

    .modal-navn {
        margin-top: 2vw;
        margin-bottom: 4vw;
    }
    .modal-pris {
        margin-top: 2vw;
        margin-bottom: 4vw;
    }

}
