/* Generelt */

body {
    margin: 0;
    background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Helvetica, sans-serif;
}

p {
    font-size: 12px;
    line-height: 2;
}

/* FORSIDE */

.forslag-txt {
    margin-left: 3vw;
    margin-right: 3vw;
}

.forside-container {
    margin: 5vw;
}

.forside-pic {
    width: 100%;
}

.forslag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.clothes-article1 {
    background-color: white;
    display: grid;
    grid-template-areas: "billede billede" "navn navn" "liner liner" "pris pris" "kob quickview";
    line-height: 0.0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0.5vw;
}

iframe {
    width: 100%;
}

.blog-contatiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 1fr 1fr 1fr;
}

.blog-contatiner img {
    width: 100%;
}

.blog-billede {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.data-blog {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    margin-top: 0;
}

.data-teaser {
    grid-column: 2;
    grid-row: 2;
    margin-left: 2.5vw;
}

.read-kronik {
    color: black;
    grid-column: 2;
    grid-row: 4;
    margin-left: 2.5vw;
    margin-bottom: 0;
}



/* CLOTHES */

.container {
    margin: 3vw;
}

.clothes-article {
    background-color: white;
    display: grid;
    grid-template-areas: "billede billede" "navn navn" "liner liner" "pris pris" "kob quickview";
    line-height: 0.0;
    margin-bottom: 7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.data-billede1 {
    grid-area: billede;
    width: 100%;
}

.data-billede2 {
    grid-area: billede;
    width: 100%;
    opacity: 0;
}

.data-billede2:hover {
    opacity: 1;
}

.data-navn {
    grid-area: navn;
    margin-bottom: 0;
    font-size: 15px;
    margin-left: 3vw;
    line-height: 0.5;
}

.data-liner {
    grid-area: liner;
    margin-left: 3vw;
    line-height: 1;
}

.data-pris {
    grid-area: pris;
    margin-left: 3vw;
    margin-bottom: 3vw;
    margin-top: 0;
    color: skyblue;
    line-height: 1;
}

.kob {
    grid-area: kob;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);


}

.kob:hover {
    background-color: skyblue;
    border: 1px solid white;
}

.quickview {
    grid-area: quickview;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.quickview:hover {
    background-color: skyblue;
    border: 1px solid white;
}

/*  MODAL*/

#modal {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    /*display: none;*/
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}

#modal.vis {
    /*display: block;*/
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

#modal-content {
    width: 87vw;
    height: 100vh;
    background-color: rgba(250, 250, 250, 1);
    margin: auto;
    overflow: scroll;
}

.modal-grid2 {
    display: grid;
    grid-template-areas: "navn pris" "farver siezes" "kob read";
}

.modal-kob {
    grid-area: kob;
    cursor: pointer;
    border: 1px solid skyblue;
    min-width: 25vw;
    margin: auto;
    margin-top: 2vw;
}

.modal-kob:hover {
    background-color: skyblue;
    border: 1px solid whitesmoke;
}

.modal-read {
    grid-area: read;
    cursor: pointer;
    border: 1px solid skyblue;
    min-width: 25vw;
    margin: auto;
    margin-top: 2vw;
}

.modal-read:hover {
    background-color: skyblue;
    border: 1px solid whitesmoke;
}

.modal-pris {
    grid-area: pris;
    margin-bottom: 8vw;
    color: skyblue;
}

.modal-navn {
    grid-area: navn;
}

.farver {
    grid-area: farver;
    margin-left: 3vw;
}

.siezes {
    grid-area: siezes;
    margin-left: 3vw;
    margin-right: 3vw;
}

select {
    border-style: none;
    background-color: skyblue;
    height: 35px;
    font-size: 13px;

}



.modal-billeder {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-billede1 {
    width: 100%;
    max-width: 200px;
}

.modal-billede2 {
    width: 100%;
    max-width: 200px;
}

.modal-billede3 {
    width: 100%;
    max-width: 200px;
}

.luk {
    float: right;
    border: 1px solid;
    height: 20px;
    cursor: pointer;
}





/* Media Q ipad  */

@media only screen and (min-width: 768px) {
    body {
        background-color: lightpink;
    }

    .forside-pic-view {
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .forslag {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 6vw;
        margin-right: 6vw;
    }
    .forslag-txt {
        text-align: center;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .blog-billede {
        width: 100%
    }
    .blog-contatiner {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1 1fr 1fr 1fr;
        margin-left: 8vw;
        margin-right: 8vw;
    }


    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .clothes-article {
        margin: 2vw;
    }
    .clothes-article1 {
        margin: 2vw;
    }
    .modal-billeder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .modal-grid2 {
        margin-left: 8vw;
        margin-right: 8vw;
    }


    .modal-billede1 {
        width: 100%;
        max-width: 500px;

    }
    .modal-billede2 {
        width: 100%;
        max-width: 500px;
    }
    .modal-billede3 {
        width: 100%;
        max-width: 500px;

    }

    .youVideo {
        text-align: center;
    }

    iframe {
        justify-content: center;
        max-width: 560px;
        max-height: 315px;
    }

    .data-pris {
        margin-bottom: 1vw;
    }

}


/* Media Q computer  */

@media only screen and (min-width: 1300px) {
    body {
        background-color: lightblue;
    }
    p {
        font-size: 14px;
    }

    .forside-pic-view {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .forslag-txt {
        margin-left: 17vw;
        margin-right: 17vw;
    }

    .forslag {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 14vw;
        margin-right: 14vw;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 17vw;
        margin-right: 17vw;
    }
    .blog-contatiner {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1 1fr 1fr 1fr;
        margin-left: 14vw;
        margin-right: 14vw;
    }

    .clothes-article {
        margin: 1.4vw;
    }
    .clothes-article1 {
        margin: 1.4vw;
    }

    .modal-grid2 {
        margin-left: 19vw;
        margin-right: 19vw;
    }

    .modal-navn {
        margin-top: 2vw;
        margin-bottom: 4vw;
    }
    .modal-pris {
        margin-top: 2vw;
        margin-bottom: 4vw;
    }

    .data-pris {
        margin-bottom: 1;
    }

}
